

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 630px 100px;
    grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}
.header{
    background: silver;
     grid-area: header;
    
     display: flex;
     justify-content: space-between;
     align-items: center;

}
.left{
    background:wheat;
     grid-area: left;
    text-align: center;
}
.right{
    background: whitesmoke;
     grid-area: right;
}
.footer{
    background: khaki;
     grid-area: footer;
     text-align: center;
}
.logo-image{
    height: 90px;
    width: 150px;
    padding: 10px;
    border-radius:20px;
}
.header ul li{
    display: inline-block;
    margin: 0 10px;
   list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: white;
    background: turquoise;
    padding: 10px 20px;
}
.home:hover{
    background: yellow;
    color: tomato;
}
.logout:hover{
    background: yellow;
    color: tomato;
}
.title{
    font-family: sans-serif;
    color:wheat;
}
 .header h3{
     font-family: sans-serif;
     margin-left: 100px;
     color: darkcyan;
 }
.left ul li {
    list-style: none;
    background: teal;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 10px;
    
    
    
}
.left ul li:hover{
    background: thistle;
}
.left ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
   
}

.footer h3{
    margin-top: 20px;
}
.right .input-field{
    width: 60%;
    margin:100px auto;
   
}


.information .title{
    margin-top: 80px;
     color: teal;
}
.btn{
    height: 30px;
    width: 200px;
    font-size: 16px;
    background:teal;
    font-family: cursive;
    color: white;
    
    
}
table
{
   border: darkmagenta solid 2px;
    padding: 15px;
    border-radius: 10px;
    background: white;
}

td{
   padding-left: 20px;
   padding-bottom: 10px;
  
  
  
}
td label{
    font-size: 20px;
    color:darkblue;
}

.information #name, #email, #phone ,#password, #dob, #gender{
   font-size: 20px;
   font-family: sans-serif;
   color:green;
   
}

#updatebutton{
    padding: 10px 40px;
    font-size: 15px;
   margin-right: 10px;
    background: teal;
    color: white;
    border-radius: 5px;
  
}
.cancel{
    background: teal;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
   border-radius: 5px;
   margin-left: 10px;
  
   
}
#updatebutton:hover{
     background: skyblue;
}
.cancel:hover{
    background: skyblue;
}


#remail{
    border: none;
    background: none;
    font-size: 20px;
    font-family: sans-serif;
    color:green;
}



